.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-navi {
  margin: auto;
  width: 100%;
}

ul {
  padding-left: 45%;
  padding-right: 45%;
}